html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16191f;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;   
}

.container {
  padding: 2rem;
  padding-top: 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.container > .react-terminal-wrapper {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}


.progress {
  position: absolute;
  margin-bottom: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.5rem;
  background-color: #252a33;
  overflow: hidden;
}

.progress::after {
  content: "SUSPICION";
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.progress > .bar {
  display: block;
  height: 100%;
  transition: 1s ease-in-out;
  background: linear-gradient(90deg, #e54848 0%, #b90e0e 100%);
}

.react-terminal-wrapper::before {
  display: none !important;
}

.react-terminal-line {
  display: flex;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #434b5a #252a33;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #252a33;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #434b5a;
    border-radius: 10px;
  }
